.item {
  position: relative;
  padding-top: 12px;
  font-size: 1rem;
}

.item span:first-of-type {
  font-weight: bold;
  color: #990000;
}

ul {
  padding: 15px 0 5px 0;
  margin-left: 15px;
  list-style: none;
}

.total {
  position: absolute;
  top: 12px;
  left: 205px;
}

.remove {
  margin-top: 2px;
  margin-left: 160px;
}

@media (max-width: 40rem) {
  .total {
    left: 165px;
  }
}
