.summary {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 3px 8px rgba(17, 16, 16, 0.356);
  width: 400px;
  margin: auto;
  padding: 30px 20px;
}

.heading {
  text-decoration: underline red;
  font-size: 1.2rem;
}

.ingredients ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info {
  padding: 25px 0 20px 0;
  width: 270px;
  margin: auto;
  color: grey;
}

.total {
  padding: 5px 0 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons {
  margin: 15px 0;
}

@media (max-width: 40rem) {
  .summary {
    width: 170px;
  }

  .heading {
    font-size: 1rem;
  }

  .info {
    font-size: 0.8rem;
    width: 150px;
    padding-top: 10px;
  }

  .total {
    font-size: 1rem;
  }
}