.summary {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 3px 8px rgba(17, 16, 16, 0.356);
  width: 400px;
  margin: auto;
  padding: 30px 20px;
}

ul {
  margin: 0;
}

.heading {
  text-decoration: underline red;
  font-size: 19px;
}

.ingredients ul {
  list-style: none;
  padding: 0;
}

.info {
  padding: 25px 0 20px 0;
  width: 270px;
  margin: auto;
  color: grey;
}

.total {
  padding: 5px 0 15px 0;
  font-size: 19px;
  font-weight: bold;
}

.buttons {
  margin: 15px 0;
}

.cancel {
  background-color: white;
  color: #e60000;
  border: 1px solid #e60000;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(20, 20, 20, 0.3);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 14px;
  margin-right: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.cancel:hover,
.cancel:active {
  background-color: #990000;
  color: white;
  border: 1px solid #990000;
}

.cart {
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(20, 20, 20, 0.3);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 14px;
  margin-left: 2px;
  box-sizing: border-box;
  height: 45px;
  cursor: pointer;
}

.cart:hover,
.cart:active {
  background-color: #990000;
}
