.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(20, 20, 20, 0.3);
  width: 710px;
  padding: 20px 0px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
