.modal {
  background-color: white;
  width: 500px;
  box-shadow: 0 2px 8px #1f1e1ea2;
  border-radius: 12px;
  padding: 25px;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -262px;
  z-index: 11;
  text-align: center;
}

@media (max-width: 40rem) {
  .modal {
    width: 240px;
    left: 5px;
    margin-left: 5px;
  }
}