.modal {
  background-color: white;
  width: 500px;
  box-shadow: 0 2px 8px #1f1e1ea2;
  border-radius: 12px;
  padding: 25px;
  z-index: 11;
  position: fixed;
  top: 100px;
  left: 31%;
  text-align: center;
}
